h1
{
	font-size: 50px;
}
h2
{
	font-size: 40px;
}
p
{
	font-size: 20px;
	font-family: Palatino Linotype;
}
span
{
	
	font-size: 15px;
	font-family: Palatino Linotype;	
}


.modal
{
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,255,0);
	background-color: rgba(0,0,0,0.4);
	padding-top: 30px;
}

input
{
	width: 100%;
	padding: 15px 20px;
	margin: 8px 0px;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid #ccc;
}

button
{
	width: 100%;
	margin: 10px 0;
	padding: 15px 20px;
	border: none;
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
}

button:hover
{
	opacity: 0.8;
}

.btncontainer
{
	width: 30%;
	position: relative;
	margin: 10px auto 0 auto;
}


.cancelbtn
{
	width: 15%;
	padding: 10px 15px;
	background-color: #f44336;
	text-align: center;
}

.headercontainer
{
	text-align: center;
	margin: 5px 0 5px 0;
	position: relative;
	padding: 0px;
}

.end
{
	float: right;
    position: absolute;
    right: 25px;
    top: 0px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.end:hover,.end:focus
{
	color: red;
	cursor: pointer;
}

.container
{
	padding: 16px;
}

.psw
{
	float: right;
	margin-top: 30px;
}

.contect
{
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	padding: 15px;
	width: 80%;
	border: 1px solid black;
	box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4);
}

/*Zoom Animate*/

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media screen and (max-width: 600px)
{
	.btncontainer,.cancelbtn
	{
		width: 100%;
	}
	.psw
	{
		float: none;
		text-align: center;
	}
}

.loader {
	visibility: hidden;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}